numpy==1.26.4
pandas==2.3.2
scipy==1.16.1
scikit-learn==1.7.1

matplotlib==3.10.5
folium==0.20.0
branca==0.8.1

pyproj==3.7.2
pyarrow==14.0.2
duckdb==1.3.2
pyodbc==5.2.0
SQLAlchemy==2.0.43

torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0

tqdm==4.67.1
requests==2.32.5

